
*{

    font: 15px sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none;
    
    }
    body{

        background-image:url("../svg/log.jpg") ;
        background-size:cover;
        background-repeat:no-repeat;
        
    }
    form{
        background-color:#fff;
        width: 400px;
        margin: 50px auto;
        border: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    form h1{
       text-align: center;
       font-size: 30px;
       margin-top: 20px;
       margin-bottom: 40px;
       font-family: fontTitle;
       letter-spacing: 3px;
    }
    form input[type="text"],
    form input[type="password"]
    {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 95%;
        margin-bottom: 40px;
        transition: border-bottom-color 0.5s;

    }
    form input[type="text"]:focus,
    form input[type="password"]:focus
    {
        border-bottom-color:#1d1a1c
    }
    form input[type="submit"]
    {
        background: linear-gradient(to bottom, rgb(236, 19, 19) 0%, rgb(242, 241, 248) 100% );
        padding: 10px 50px;
        color: #fff;
        border-radius: 10px;
        margin: auto;
        margin-left: 30px;
    }
    form input[type="button"]{
        background: linear-gradient(to bottom, rgb(29, 28, 28) 0%, rgb(242, 241, 248) 100% );
        padding: 10px 50px;
        color: #fff;
        border-radius: 10px;
        margin: auto;
        margin-left: 30px;
    }
    .social{
        border-top: 1px solid #ccc;
        margin-top: 50px;
        padding-top: 20px;
        text-align: center;

    }
    .social img{
        width: 50px;
    }



