
*{
font-family: 15px 'Josefin Sans', sans-serif;
margin: 0px;
padding: 0px;
outline: none;

}
body{

    background-image:url("../imagens/bdy.jpg") ;
    background-size:contain;
    background-repeat:no-repeat;
    
}
i{
font-size: 30px;
color: rgb(236, 243, 243);
margin: 5px;
padding: 2px;
margin-left:2px;
}
/*top Menu*/
header{ 
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(139, 134, 134);
    border-bottom:2px solid rgba(138, 132, 132, 0.685);/*red,green,blue,alpha(0.0 is fully transparent)*/
}
header h1{
    float: left;
    margin: 20px;
    color:rgb(246, 245, 250);
    font-size: 20px;
}
header nav{
    float: right;  /*content shift right*/
}
header a{
    color:rgba(244, 242, 248, 0.932);
    font-weight: bold;
    text-decoration:none ;
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
    transition: color 0.10s;
    padding:8px;
}
header a:hover{
    background-color:rgb(106, 174, 219);
}
/*Advertise*/
.advertise{
   
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
}
.advertise h1{
    
    color:#ffffff;
    text-shadow: 4px 4px 4px #000;
    font-size: 24px;
}

/*main content*/
main{
    width: 990px;
    margin: 0 auto;
    margin-top: 200px;
}
/*offers*/
.offers h1{
    text-align: center;
    font-family:'Josefin Sans', sans-serif;
    font-size: 35px;
    padding: 150px;
     color:#ffffff;
    text-shadow: 4px 4px 4px #000;
}
.offers li{
    display: inline-block;
    width: 200px;
    border: 1px solid #979494;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    transition:box-shadow 0.5s,transform 0.5s ;
   transform: translate(0,0);
  
}
.offers li:nth-child(2),
.offers li:nth-child(3),
.offers li:nth-child(6),
.offers li:nth-child(7){
    margin-left: 15px;
}
.offers li:nth-child(3),
.offers li:nth-child(7){
    margin-right: 15px;
}
.offers li:hover{
    box-shadow: 0px 0px 10px #999 ;
    transform:translate(0px,-20px);

}
.offers img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.offers a{
    text-decoration: none;
}
.offers p{
    text-decoration: none;
    color: #fff;
    background-color:rgb(55, 209, 17); /*red,green,blue*/
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -3px;
}
/*shopping departments*/
.departments{
    border-top: 1px dotted #999;
    margin-top: 50px;
    color: rgb(112, 126, 245);
}
.departments h1{
    text-align: center;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    padding: 40px;
}
.departments img{
    width: 50%;
    border-radius: 50%;
     margin-bottom: 10px;
}

.departments li{
    width: 280px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #979494;
    border-radius: 10px;
    text-align: center;
    color:#5e5c5c;
}
.departments li:nth-child(2),
.departments li:nth-child(5),
.departments li:nth-child(8)
{
   margin: 0px 15px 10px;
}

.departments p:nth-child(1){
   text-align: justify;
   line-height: 20px;
   text-indent: 20px;
   margin-bottom: 20px;
   font-size: 12px;
 }
 /*contact us*/ 
.contact{
    overflow: hidden;
}
.contact h1{
    text-align:justify;
    color:#ece6e3;
    font-size: 40px;
   margin-top: 250px;
    padding: 90px;
    text-shadow: 4px 4px 4px #000;
}
.contact iframe{
    float: left;
    border: 1px solid #979494;
    border-radius: 10px;
   width: 450px;
   height: 350px;
   
}
.contact form{
    float: right;
    border: 1px solid #979494;
    border-radius: 10px;
   width: 450px;
}
.contact input[type="text"],
.contact textarea{
    width: 92%;
    padding: 5px;
    margin: 10px;
    border: 1px solid #979494;
    border-radius: 5px;
}
.contact textarea{
    resize: none;
    height: 100px;
}
.contact input[type="submit"]{
padding: 5px 30px;
margin: 10px;
border: 1px solid #979494;
border-radius: 5px;
}
/*footer*/
footer{
    margin-top: 100px;
    background-image: url("../imagens/footer.jpg");
    background-size: contain;

}
footer ul{
   color: rgb(20, 20, 20);
   display: inline-block;
   margin-left: 100px;
   margin-top: 80px;
   vertical-align: top;
}
footer li{
   list-style: none;
   margin-bottom: 10px;
}
footer li:first-child{
   margin-bottom: 50px;
   font-weight: bold;
   font-size: 16px;
   border-bottom: 1px solid rgb(17, 17, 17); 
   padding-bottom: 10px;
}
footer p{
   color: rgb(14, 13, 13);
   text-align: center;
   padding: 30px;
   font-size: 13px;
}



